/*Boiler - Plate  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection{
    color: #fff;
    background-color: black;
}

h1{
    font-weight: 100;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
}

#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}

#links #num:hover{
    text-decoration: underline;
    color: grey;
}

#nav-part1 {
    /* background-color: RED; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 #links a {
    text-transform: uppercase;

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#cursor {
    height: 275px;
    width: 275px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);

}

@font-face {
    font-family: 'Futura';
    src: url('./fonts/Futura-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#page1{
    min-height: 100vh;
    /* background-color: aquamarine; */
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1{
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height:14vw;
    letter-spacing: -8px;
}

#video-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    font-size: 1.3vw;
    color: #fff;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: aliceblue; */
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
    
}

#page2 .elem{
    height: 100%;
    width: 31%;
    /* background-color: black; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    /* position: relative; */
}

#page2 .elem .dets{
    height: 35px;
    border-radius: 50px;
    width: 75%;
    position: absolute;
     z-index : 9;
    /* top:50%;
    left:50%;  */
    /* transform: translate(-50%,-50%); */
    /* background-color: #744F4D; */

    background: #744F4D;
    padding: 0 32px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.06em;
    line-height: .9em;

}

.elem .dets:hover{
    height: 200px;
}


#page3{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 55vh;
    width: 40vw;
    /* background-color: aquamarine; */
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img{
    height: 100%;
}

@media (max-width:600px){

    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
    }

    #page1 h1{
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container{
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play{
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }

    #page2{
        min-height: 100vh;
        width: 100%;
        padding: 5vw 3vw;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

     #page2 .elem {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }
}