/*Boiler - Plate  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection{
    color: #fff;
    background-color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Futura';
    src: url('./fonts/Futura-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#page1{
    min-height: 100vh;
    /* background-color: aquamarine; */
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1{
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height:14vw;
    letter-spacing: -8px;
}

#video-container{
    height: 100vh;
    width: 100%;
    background-color: gray;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    font-size: 1.3vw;
    color: #fff;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: aliceblue; */
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
    
}

#page2 .elem{
    height: 100%;
    width: 31%;
    /* background-color: black; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    position: relative;
}

.elem .dets{
    height: 35px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    /* z-index : 9;
    top:50%;
    left:50%; */
    /* transform: translate(-50%,-50%); */
    background-color: rgb(226, 168, 43);

}

.elem .dets.dets:hover{
    height: 200px;
}


#page3{
    min-height: 120vh;
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 55vh;
    width: 40vw;
    background-color: aquamarine;
    border: 2px solid black;
}

@media (max-width:600px){

    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
    }

    #page1 h1{
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container{
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play{
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }

    #page2{
        min-height: 100vh;
        width: 100%;
        padding: 5vw 3vw;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

     #page2 .elem {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }
}